name: Deploy Axon Web
on:
  push:
    branches: [ "main" ]

# Grant permissions to write to the deployment branch
permissions:
  contents: write

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      
      - name: Install Dependencies
        run: |
          cd axon_satellite
          flutter pub get

      - name: Build Web App
        run: |
          cd axon_satellite
          # We build the web version. 
          # --base-href tells the app it lives in a subfolder (your repo name)
          flutter build web --release --base-href "/Project_Axon/"

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./axon_satellite/build/web